#default-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background: #2563eb;
  cursor: pointer;
  border-radius: 50% 50% 50% 50%;
  transform: rotate(45deg);
  position: relative;
}

.teardrop-indicator {
  position: absolute;
  top: -40px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 34px;
  height: 34px;
  background-color: rgb(59 130 246);
  color: white;
  font-size: 12px;
  font-weight: 500;
  border-radius: 50% 50% 50% 50% / 50% 50% 60% 60%;
  padding: 10px;
}

.teardrop-indicator:after {
  content: '';
  position: absolute;
  bottom: -7px;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid rgb(59 130 246);
}
